* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(168, 218, 220);
    background: linear-gradient(90deg, rgba(168, 218, 220, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(168, 218, 220, 1) 100%);
}

#textoDoLogotipo {
    margin-left: 30px;
    float: left;
    padding: 15px;
    width: 20px;

}

ul li {
    margin-top: 20px;

}

#cabecalho {
    background: #A8DADC;
}

#navegacao {
    float: right;
}

#navegacao>ul>li {
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
}

#navegacao>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#navegacao>ul>li>a:hover {
    color: #F1FAEE;

}

header {
    overflow: hidden;

}

.sectionbody {
    background-color: #457B9D;
}

.sessao-principal {


    width: 100vw;
    height: 15vh;
}

.coluna1 {

    position: absolute;
    margin-top: 150px;
    left: 200px;
}

.nome {
    font-size: 40px;
    text-shadow:
        -2px -2px 2px #1D3557,
        -2px 2px 2px #1D3557,
        2px -2px 2px #1D3557,
        2px 2px 2px #1D3557;
    color: #F1FAEE;

}

.profissaodesigner {
    font-size: 25px;
    margin-top: 10px;

}

.profissaodev {
    font-size: 25px;

}

.coluna1 button {
    width: 70px;
    height: 70px;
    margin-top: 50px;
    border-radius: 100px 100px 100px 100px;
    margin-left: 10px;
    background: #1D3557;
    border: 2px solid #A8DADC;

}

.botao {
    color: #F1FAEE;
    font-weight: 200;
}

.botao:hover {
    background: #457B9D;
    border: 2px solid #1D3557;
}

.botao:active {
    background: #E63946;
}

.sessaoimg1 {

    height: 20px 20px;

}

.coluna3 {
    width: 85vw;


}

.coluna3 img {
    margin: -15px 0;
    float: right;

}